# 1. PAKAGES:

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statistics import mean

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import cv2

import timm
from tqdm import tqdm
import torch
import tensorflow as tf
import torch.nn as nn
import torch.nn.functional as F
from torch.optim import Adam, SGD
import torchvision.models as models
from torch.utils.data import DataLoader, Dataset
from torch.optim.lr_scheduler import StepLR

# import albumentations as A
# from albumentations.pytorch import ToTensorV2

import warnings
warnings.filterwarnings('ignore')

C:\Users\adity\AppData\Local\Programs\Python\Python310\lib\site-packages\torchvision\models\detection\anchor_utils.py:63: UserWarning: Failed to initialize NumPy: module compiled against API version 0x10 but this version of numpy is 0xf (Triggered internally at  ..\torch\csrc\utils\tensor_numpy.cpp:68.)
  device: torch.device = torch.device("cpu"),

In [9]:
sol2 = pd.read_csv("solution_dense_161.csv")
sol3 = pd.read_csv("solution_dense_201.csv")
sol1 = pd.read_csv("solution_resnet18.csv")

In [10]:
sol2.head()

           id  tar
0  10002998.0    3
1  10003172.0    4
2  20004712.0    4
3  20004205.0    4
4  20000346.0    3

In [11]:
sol3.head()

           id  tar
0  10002998.0    3
1  10003172.0    4
2  20004712.0    4
3  20004205.0    4
4  20000346.0    3

In [12]:
sol1.head()

           id  tar
0  10002998.0    3
1  10003172.0    4
2  20004712.0    4
3  20004205.0    4
4  20000346.0    3

In [13]:
prediction = (1/3)*(sol1["tar"] + sol2['tar'] + sol3["tar"])
pred = prediction
pred = tf.convert_to_tensor(pred)
pred = tf.round(pred)
pred = tf.cast(pred, tf.int32)
sample_sub = pd.read_csv('sample_submission.csv')
sample_sub.iloc[:,1:] = pred
sample_sub.to_csv('submission.csv', index=False)
sample_sub.head()

           id  tar
0  10002998.0    3
1  10003172.0    4
2  20004712.0    4
3  20004205.0    4
4  20000346.0    3

In [14]:
sample_sub.to_csv("result.csv", index=False)